@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* Set variables for light & dark mode */
body {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-primary: #FAFAFA;
  --color-secondary: #FFFFFF;
  --color-primary-text: #111111;
  --color-secondary-text: #6B7280;
  --color-border-color: #E5E7EB;
  --color-accent-blue: #2563EB;
  --color-subtle-gray: #F3F4F6;
}

header {
  z-index: 10001 !important;
}

.primary-btn {
  @apply px-7 py-2 text-primary-text text-lg bg-transparent ring-2 ring-accent-blue hover:text-primary hover:bg-blue-500 hover:ring-0 rounded-md transition-all duration-300;
}